{% extends "layouts/_layout" %}

{% import "layouts/documentation/_macros" as macros %}
{% set sdk = data.python %}
{% set current_version = sdk.versions[sdk.current_version] %}

{% block stylesheets %}
  <link href="/assets/css/documentation/base.css" rel="stylesheet">
{% endblock %}

{% block main %}
  <header class="sub-nav sub-nav-{{current_version.nav_color}}" role="banner">
    <div class="grid-container">
      <div class="column-24">
        <nav class="breadcrumbs breadcrumbs-white leader-1 clearfix">
          <a href="/scripting-and-automation/" class="crumb">Scripting and Automation</a>
          {% link sdk.url, sdk.breadcrumb | safe + ' (' + current_version.name + ')', class="crumb", requireExactMatch=true %}
          {% if navigation == "guide" %}
            {% link current_version.url + 'guide/', 'Guide', class="crumb"%}
          {% elif navigation == "samples" %}
            {% link current_version.url + 'sample-notebooks/', 'Sample Notebooks', class="crumb" %}
          {% elif navigation == "forum" %}
            {% link current_version.url + 'forum/', 'Forum', class="crumb" %}
          {% endif %}
        </nav>
        <a href="/python/" class="sub-nav-title link-white padding-trailer-half">ArcGIS API for Python</a>

        {{ macros.tabs(current_version.navigation, url) }}
      </div>
    </div>
  </header>

  <section class="grid-container leader-1">
    <aside class="column-6">
      <div class="js-accordion accordion">

        {% set python = data.python %}
        {% set nav = python.versions[python.current_version][navigation] %}

        {% for guideSection in nav %}
          {% set links = guideSection.links|collectionOf('url') %}
          <div class="accordion-section {% accordion_is_active links %}">
            <h4 class="accordion-title ">{{guideSection.section}}</h4>
            <nav class="accordion-content">
              {% for link in guideSection.links %}
                {% menu_item link.label, link.url %}
              {% endfor %}
            </nav>
          </div>
        {% endfor %}
      </div>
    </aside>

    <div class="column-17 right">
      <main>
        {% block content %}{% endblock %}
        <hr>
        <a class="icon-ui-contact right" href="/feedback/"> Feedback on this topic?</a>
      </main>
    </div>
  </section>
{% endblock %}
